<mat-card class="mat-card" appearance="outlined" style="width: 600px">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title"> تغییر کلمه عبور </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content container-vertical">
    <app-error-message-box
      [text]="errorMessage()"
      style="width: 70%; margin: 20px auto"
    ></app-error-message-box>

    <mat-form-field
      class="mat-form-field"
      appearance="outline"
      style="margin-right: auto; margin-left:auto; margin-top: 25px; width: 70%"
      floatLabel="always"
    >
      <mat-label> کلمه عبور فعلی</mat-label>
      <input
        matInput
        [(ngModel)]="currentPassword"
        required
        class="ltr"
        type="password"
      />
      <mat-error class="mat-error">
        کلمه عبور فعلی خود را وارد نمایید.
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="mat-form-field"
      appearance="outline"
      style="margin-right: auto; margin-left:auto; margin-top: 25px; width: 70%"
      floatLabel="always"
    >
      <mat-label>
        کلمه عبور جدید

        (حداقل
        {{passwordsMinLength | faNum}}
        کاراکتر)
      </mat-label>
      <input
        matInput
        [(ngModel)]="newPassword"
        #newPasswordInput="ngModel"
        required
        [minlength]="passwordsMinLength"
        class="ltr"
        type="password"
      />
      <mat-error class="mat-error"> کلمه عبور جدید را وارد نمایید. </mat-error>

    </mat-form-field>
    <mat-form-field
      class="mat-form-field"
      appearance="outline"
      style="margin-right: auto; margin-left:auto; margin-top: 25px; width: 70%"
      floatLabel="always"
    >
      <mat-label>
         تکرار کلمه عبور جدید
            (حداقل
            {{passwordsMinLength | faNum}}
            کاراکتر)
        </mat-label>
      <input
        matInput
        [(ngModel)]="confirmNewPassword"
        #confirmNewPasswordInput="ngModel"
        required
        [minlength]="passwordsMinLength"
        class="ltr"
        type="password"
      />
      <mat-error class="mat-error">
        تکرار کلمه عبور جدید را وارد نمایید.
      </mat-error>


    </mat-form-field>

    <app-button-loader
      (blClick)="onSave()"
      text="ثبت"
      [displayLoading]="isLoading()"
      style="width: 70%; margin: 20px auto"
    >
    </app-button-loader>
  </mat-card-content>
</mat-card>
