/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "VazirFont";
  src: url("../src/assets/fonts/Vazirmatn[wght].ttf") format("truetype");
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "VazirFont", sans-serif;
}

.mat-card {
  border-radius: 12px;
  border: 1px solid #bdbdbd;
  min-width: 40vw;
}

.mat-card-header {
  background-color: #457779;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.mat-card-title {
  padding-bottom: 17px;
}

.mat-card-content {
  padding-top: 20px !important;
  margin: 0px auto;
  width: 90%;
}

.container-vertical {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}

.mat-error {
  font-size: 0.85em;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.less-radius {
  border-radius: 5px !important;
}

.mat-form-field {
  --mdc-outlined-text-field-container-shape: 8px;
}

.mat-toolbar {
  background-color: #457779!important;
  color: gold!important;
  font-weight: bold!important;
}

.mat-sidenav-content {
  background-color: #d5d5d5;
  min-height: 90vh;
}

.footer {
  width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #457779;
    z-index: 1;
    padding: 10px 0px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: gold;
}

