/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "VazirFont";
  src: url("../src/assets/fonts/Vazirmatn[wght].ttf") format("truetype");
}

html,
body,
mat-sidenav-container {
  height: 100%;
}
body {
  margin: 0;
  font-family: "VazirFont", sans-serif;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

