/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "VazirFont";
  src: url("../src/assets/fonts/Vazirmatn[wght].ttf") format("truetype");
}

@font-face {
  font-family: 'Material Icons';
  src: url('assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
        url('assets/fonts/MaterialIconsOutlined-Regular.otf') format('opentype'),
        url('assets/fonts/MaterialIconsSharp-Regular.otf') format('opentype'),
        url('assets/fonts/MaterialIconsTwoTone-Regular.otf') format('opentype'),
        url('assets/fonts/MaterialIconsRound-Regular.otf') format('opentype')
  ;
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "VazirFont", sans-serif;
}

.mat-card {
  border-radius: 12px;
  border: 1px solid #bdbdbd;
  min-width: 30vw;
}

.mat-card-header {
  background-color: #457779;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.mat-card-title {
  padding-bottom: 17px;
}

.mat-card-content {
  padding-top: 20px !important;
  padding-bottom: 40px !important;
  margin: 0px auto;
  width: 90%;
}

.mat-error {
  font-size: 0.80em;
}

.mat-hint {
  font-size: 0.75em;
  color:gray;
}

.mat-table-header {
  font-family: "VazirFont";
  font-size: 1.2em;
  font-weight: bold;
}

.mat-table-row {
  font-family: "VazirFont";
}

.mat-form-field {
  --mdc-outlined-text-field-container-shape: 8px;
}

.mat-toolbar {
  background-color: #457779 !important;
  color: gold !important;
  font-weight: bold !important;
}

.mat-sidenav-content {
  background-color: #d5d5d5;
  min-height: 90vh;
}

/*---modal loader---*/
.transparent .mat-mdc-dialog-container {
  --mdc-dialog-container-color: rgba(0, 0, 0, 0);
}

.transparent .mat-mdc-dialog-surface {
  box-shadow: none !important;
}

.custom-spinner circle {
  stroke: gold !important;
}
/*----*/

.container-vertical {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}

.container-horizontal {
  display: flex !important;
  flex-direction: row;
}

.loader-button-yellow {
  background-color: rgb(251, 206, 5) !important;
  color: black !important;
}

.loader-button-red {
  background-color: rgb(218, 11, 4) !important;
  color: white !important;
}

.loader-button-blue {
  background-color: #005cbb !important;
  color: white !important;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.less-radius {
  border-radius: 5px !important;
}

.footer {
  width: 100%;
  background-color: #457779;
  z-index: 1;
  padding: 10px 0px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: gold;
}

.input-row {
  justify-content: flex-start;
  width: 100%;
  gap: 10%;
  margin-top: 20px;
}

.form-field {
  width: 45%;
}

.input-row-simple {
  margin-top: 20px;
  width: 100%;
}
