.DS_Store
/personnel-management-app/node_modules/
/personnel-management-app/dist/
/personnel-management-app/.vscode/
/personnel-management-app/.editorconfig/

/PersonnelManagement/.vs/
/PersonnelManagement/*/bin/
/PersonnelManagement/*/obj/
/PersonnelManagement/API/Uploads/
/PersonnelManagement/API/Migrations/
