<mat-card class="mat-card" appearance="outlined">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title"> فهرست اطلاعات پایه</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content container-vertical">

    <app-error-message-box [text]="errorMessage()" style="width:80%; margin:20px 0px;"></app-error-message-box>

    <mat-form-field class="mat-form-field" appearance="outline" style=" margin-top:15px; width:50%;"
      floatLabel="always">
      <mat-label> نوع اطلاعات پایه</mat-label>
      <mat-select [(ngModel)]="selectedTypeId" name="type" (valueChange)="onTypeChange()" [disabled]="isLoading()">
        @for (type of typesList; track type.id) {
        <mat-option [value]="type.id">{{type.title}}</mat-option>
        }
      </mat-select>

    </mat-form-field>
    @if(isLoading()) {<mat-spinner style="margin:30px auto;" diameter="50"></mat-spinner>}
    @else {

    }


  </mat-card-content>
</mat-card>
