<mat-card class="mat-card" appearance="outlined" style="width: 650px">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">
      @if(id) {ویرایش}@else{ثبت} اطلاعات کارکنان
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content container-vertical">
    <app-button-loader
      text="فهرست"
      iconName="format_list_numbered_rtl"
      [routerLink]="['/', route_NamePath.personnelListForm]"
    >
    </app-button-loader>
    <app-error-message-box
      [text]="errorMessage()"
      style="width: 100%; margin: 20px auto"
    ></app-error-message-box>
    <div class="container-horizontal input-row">
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>نام</mat-label>
        <input matInput [(ngModel)]="model.firstName" required class="rtl" [disabled]="authInfo!.role === 3"/>
        <mat-error class="mat-error"> نام را وارد نمایید. </mat-error>
      </mat-form-field>
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>نام خانوادگی</mat-label>
        <input matInput [(ngModel)]="model.lastName" required class="rtl" [disabled]="authInfo!.role === 3" />
        <mat-error class="mat-error"> نام خانوادگی را وارد نمایید. </mat-error>
      </mat-form-field>
    </div>
    <div class="container-horizontal input-row">
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>کد ملی</mat-label>
        <input matInput [(ngModel)]="model.codeMeli" class="ltr" [disabled]="authInfo!.role === 3" />
      </mat-form-field>
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>شماره پرسنلی</mat-label>
        <input
          matInput
          [(ngModel)]="model.shomarePersonneli"
          required
          class="ltr"
          [disabled]="authInfo!.role === 3"
        />
        <mat-error class="mat-error"> شماره پرسنلی را وارد نمایید. </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row-simple">
      <mat-form-field
        class="mat-form-field"
        appearance="outline"
        floatLabel="always"
        style="width: 100%"
      >
        <mat-label>ابلاغ داخلی اصلی</mat-label>
        <mat-select [(ngModel)]="model.eblaghDakheliAsliId" required>
          <mat-option value="" disabled="true"> انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.EblaghDakheliAsli; track info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
        <mat-error class="mat-error">
          ابلاغ داخلی اصلی را مشخص نمایید.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row-simple">
      <mat-form-field
        class="mat-form-field"
        appearance="outline"
        floatLabel="always"
        style="width: 100%"
      >
        <mat-label>سایر سمت‌ها </mat-label>
        <textarea
          matInput
          [(ngModel)]="model.sayerSematha"
          class="rtl"
          style="height: 100px"
        >
        </textarea>
      </mat-form-field>
    </div>
    <div class="container-horizontal input-row">
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>نوع استخدام</mat-label>
        <mat-select [(ngModel)]="model.noeEstekhdamId" [disabled]="authInfo!.role === 3">
          <mat-option value=""> انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.NoeEstekhdam; track info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>تاریخ آغاز خدمت </mat-label>
        <input matInput [(ngModel)]="model.tarikhAghazKhedmat" class="ltr" [disabled]="authInfo!.role === 3"/>
        <mat-hint style="text-align: left; width: 100%;">YYYY/MM/DD</mat-hint>

      </mat-form-field>
    </div>
    <div class="input-row-simple">
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
        style="width: 100%"
      >
        <mat-label>واحد خدمت</mat-label>
        <mat-select [(ngModel)]="model.vahedKhedmatId" required>
          <mat-option value="" disabled="true"> انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.VahedKhedmat; track info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
        <mat-error class="mat-error"> واحد خدمت را مشخص نمایید. </mat-error>
      </mat-form-field>
    </div>
    <div class="container-horizontal input-row">
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>شهر محل خدمت </mat-label>
        <mat-select [(ngModel)]="model.shahrMahalKhedmatId" required [disabled]="authInfo!.role === 3">
          <mat-option value="" disabled="true"> انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.ShahrMahalKhedmat; track info.id) {
          <mat-option [value]="info.id">{{ info.title }}</mat-option>
          } }
        </mat-select>
        <mat-error class="mat-error"> شهر محل خدمت را مشخص نمایید. </mat-error>
      </mat-form-field>
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>مجتمع قضایی</mat-label>
        <mat-select [(ngModel)]="model.mojtameGhazaiyId">
          <mat-option value="" > انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.MojtameGhazaiy; track info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container-horizontal input-row">
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>مدرک تحصیلی</mat-label>
        <mat-select [(ngModel)]="model.madrakTahsiliId" [disabled]="authInfo!.role === 3">
          <mat-option value="" > انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.MadrakTahsili; track info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>رشته تحصیلی </mat-label>
        <mat-select [(ngModel)]="model.reshteTahsiliId" [disabled]="authInfo!.role === 3">
          <mat-option value="" > انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.ReshteTahsili; track info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container-horizontal input-row">
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>پُست</mat-label>
        <mat-select [(ngModel)]="model.postId" [disabled]="authInfo!.role === 3">
          <mat-option value="" > انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.Post; track
          info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="mat-form-field form-field"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>رشته شغلی </mat-label>
        <mat-select [(ngModel)]="model.reshteShoghliId" [disabled]="authInfo!.role === 3">
          <mat-option value="" > انتخاب کنید ... </mat-option>
          @if (loadingCount() === 0) { @for (info of initInfoList |
          filterInitInfoByType:initInfoTypesItems.ReshteShoghli; track info.id) {
          <mat-option [value]="info.id">{{ info.title | faNum }}</mat-option>
          } }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container-horizontal input-row">
      <mat-button-toggle-group [(ngModel)]="model.isMale" [disabled]="authInfo!.role === 3">
        <mat-button-toggle value="true">مرد</mat-button-toggle>
        <mat-button-toggle value="false">زن</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group [(ngModel)]="model.isSetad">
        <mat-button-toggle value="true">ستاد</mat-button-toggle>
        <mat-button-toggle value="false">صف</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group [(ngModel)]="model.noeMahalKhedmat">
        <mat-button-toggle value="1">دادگاه</mat-button-toggle>
        <mat-button-toggle value="2">دادسرا</mat-button-toggle>
        <mat-button-toggle value="0">سایر</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <app-button-loader
      (click)="onSave()"
      text="ثبت"
      [displayLoading]="isLoading()"
      style="width: 100%; margin: 40px auto"
    >
    </app-button-loader>
  </mat-card-content>
</mat-card>
