mat-sidenav {
  width: 200px;
}

.menu {
  margin: 35px 10px;
  color: cadetblue;
  font-weight: bold;
}

.menu-item-icon {
  margin-bottom: -8px;
}

.main-content {
  margin: 60px auto;
  width: fit-content;
}
