<mat-card class="mat-card" appearance="outlined">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">
      ورود به حساب کاربری
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-content container-vertical">
    <app-error-message-box
      [text]="errorMessage()"
      style="width: 70%; margin: 20px auto"
    ></app-error-message-box>

    <mat-form-field
      class="mat-form-field"
      appearance="outline"
      style="margin-inline: auto; margin-top: 15px; width: 70%"
      floatLabel="always"
    >
      <mat-label>نام کاربری</mat-label>
      <input matInput [(ngModel)]="username" required class="ltr" />
      <mat-error class="mat-error"> نام کاربری را وارد نمایید. </mat-error>
    </mat-form-field>

    <mat-form-field
      class="mat-form-field"
      appearance="outline"
      style="margin-inline: auto; margin-top: 15px; width: 70%"
      floatLabel="always"
    >
      <mat-label> کلمه عبور </mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="password"
        required
        class="ltr"
      />
      <mat-error class="mat-error"> کلمه عبور را وارد نمایید.</mat-error>
    </mat-form-field>
    <app-button-loader
      (blClick)="onLogin()"
      text="ورود"
      [displayLoading]="isLoading()"
      style="width: 70%; margin: 20px auto"
    >
    </app-button-loader>
  </mat-card-content>
</mat-card>
