mat-card {
  border-radius: 12px;
  border: 1px solid #bdbdbd;
  min-width: 40vw;
}

mat-card-header {
  background-color: #457779;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

mat-card-title {
  padding-bottom:17px;
}

mat-card-content {
  padding-top: 40px;
  margin: 0px auto;
  width:90%;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-form-field {
  --mdc-outlined-text-field-container-shape: 8px;
}
